.perfil {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  text-align: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.buscar {
  margin-top: 12px;
  background: none;
  border: none;
  color: #0077cc;
  font-size: 14px;
  box-shadow: none;
}

.buscar:hover {
    background: none;
    text-decoration: underline;
}

.link {
    text-decoration: none;
    color: #0077cc;
}

.link:hover {
    text-decoration: underline;
}

.lista-denuncias {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.lista-denuncias li {
  background-color: #f9f9f9;
  border-left: 5px solid var(--border);
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.lista-denuncias li p {
  margin: 5px 0;
  font-size: 14px;
}

.lista-denuncias li p strong {
  color: black;
}

.lista-denuncias li .status {
  font-weight: bold;
  color: orange;
}

.lista-denuncias li .status.resolvida {
  color: green;
}

.lista-denuncias li .status.recusada {
  color: red;
}

.lista-denuncias li .status.em_andamento {
  color: orange;
}
