.container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
}

.container input {
  margin: 10px;
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 5px;
  box-shadow: 2px 2px 2px  rgba(0, 0, 0, 0.2);
}

.container input:focus {
  outline: none;
  border: 1.5px solid var(--border);
  border-radius: 5px;
}

.denuncia-bloco {
  padding: 1rem 1.25rem;
  border-radius: 8px;
  margin-top: 1.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  font-family: sans-serif;
}

.denuncia-bloco .descricao {
  color: #333;
  margin-bottom: 0.5rem;
}

