
.container h2 {
    margin: 5px;
    color: var(--h1);
}

.login-link {
    display: inline-block;
    text-decoration: none;
    color: var(--button);
    margin-top: 10px;
}

.login-link:hover {
    cursor: pointer;
    text-decoration: underline;   
}

.input-cadastro {
    border: 1px solid var(--border);
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

button {
    min-width: 90px;
}